<h3>Targets</h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Ip</th>
    <th scope="col">Program</th>
    <th scope="col">Version Program</th>
    <th scope="col">Last communication</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let target of targets">
    <td>{{target.ip}}</td>
    <td>{{target.program_id}}</td>
    <td>{{target.actual_program_id}}</td>
    <td>{{target.last_time | date:'yyyy-MM-dd H:m:s'}}</td>
    <td><span  *ngIf= "target.running" >Run</span><span  *ngIf= "!target.running" >Stop</span></td>
    <td>
      <button (click)="blink(target)" class="btn btn-danger btn-sm">
        Blink
      </button>
    </td>
  </tr>
  <tr *ngIf="loading">
    <td colspan="5" align="center">Fetching Targets</td>
  </tr>
  </tbody>
</table>
