<h3>Settings</h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Key</th>
    <th scope="col">Value</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let setting of settings">
    <td>{{setting.key}}</td>
    <td><input appOnlyNumber="true" type="text" name="setting-value" [(ngModel)]="setting.value"></td>
  </tr>
  <tr *ngIf="loading">
    <td colspan="5" align="center">Fetching Settings</td>
  </tr>
  </tbody>
</table>
